<!DOCTYPE html>
<html lang="es">
<!-- INPORTING HEAD -->
<%- include("./partials/head.ejs") %>

<body>
    <!-- IMPORTING NAV -->
    <%- include("./partials/nav.ejs") %>
    <main>
        <div>
            <% if(posts.length > 0) { %>
            <% posts.forEach( ( post ) => { %>
            <h1> <%= post.title %>  </h1>
            <h2> <%= post.snippet %> </h2>
            <p> <%= post.body %> </p>
            <%  }) %>
            <% } else { %>
            <p>No posts publishet yet.</p>
            <% } %>
        </div>
    </main>

    <!-- IMPORTING THE FOOTER -->
    <%- include("./partials/footer.ejs") %>
</body>

</html>