<!DOCTYPE html>
<html lang="es">
<!-- INPORTING HEAD -->
<%- include("./partials/head.ejs") %>

<body>
    <!-- IMPORTING NAV -->
    <%- include("./partials/nav.ejs") %>
    <main>
        <div >
            <h2><%- post.title	%></h2>
            <p><%- post.body	%></p>
        </div>
    </main>

    <!-- IMPORTING THE FOOTER -->
    <%- include("./partials/footer.ejs") %>
</body>

</html>