<!DOCTYPE html>
<html lang="es">
<!-- INPORTING HEAD -->
<%- include("./partials/head.ejs") %>

<body>
    <!-- IMPORTING NAV -->
    <%- include("./partials/nav.ejs") %>
    <main>
        <div>
            <!-- here goes posts -->
            <% if(posts.length > 0) { %>
                <% posts.forEach( ( post ) => { %>
                    <h1> <a href="/blogBody"> <%= post.title %>   </a> </h1>
                    <h2> <p> <%= post.snippet %> </p> </h2>
                    <a href="<%= '/blogBody/"+post._id' %>">View Post</a>
             <%  }) %>
           <% } else { %>
            <p>No posts publishet yet.</p>
          <% } %>
        </div>

    </main>
    <!-- IMPORTING THE FOOTER -->
    <%- include("./partials/footer.ejs") %>
</body>

</html>