<!DOCTYPE html>
<html lang="es">
<!-- INPORTING HEAD -->
<%- include("./partials/head.ejs") %>

<body>
    <!-- IMPORTING NAV -->
    <%- include("./partials/nav.ejs") %>
    <main>
        
        
         
        <section id="section-grid-template">
            <article class="post">
                <% if(posts.length > 0) { %>
                    <% posts.forEach( ( post ) => { %>
                        <h1> <a href="/blogBody"> <%= post.title %>   </a> </h1>
                        <h2> <%= post.snippet %>  </h2>
                        <p><a href="<%= "/blogBody/"+post._id %>">View Post</a></p>
                 <%  }) %>
               <% } else { %>
                <p>No posts publishet yet.</p>
              <% } %>
            </article>
            
        </section>  

    </main>
    <!-- IMPORTING THE FOOTER -->
    <%- include("./partials/footer.ejs") %>
</body>

</html>